@import "cal-sans";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: rgb(147 51 234);
}

::-webkit-scrollbar-thumb:hover {
  background: #a661ce;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cal Sans";
}

p, a, label {
  font-family: "DM Sans";
}

.purple-1000 {
  --tw-bg-opacity: 1;
  background-color: rgb(41 12 64 / var(--tw-bg-opacity));
}

.purple-1100 {
  --tw-bg-opacity: 1;
  background-color: rgb(29 9 46 / var(--tw-bg-opacity));
}

.heigthWithHeader{
  min-height: calc(100vh - 96px);
}

textarea{
  resize: none;
}
