@tailwind base;
@tailwind components;
@tailwind utilities;

.dark{
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
    color: #fff;
}

/* .light{
    --tw-bg-opacity: 1;
    background-color: rgb(148 163 184 / var(--tw-bg-opacity));
} */